.git/
.github
.idea/
.run/

node_modules/
vendor/

bootstrap/cache/*
storage/debugbar/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/
storage/logs/*
tests/

.dockerignore
.editorconfig
.env*
.gitattributes
.gitignore
*.yaml

Dockerfile
phpunit.xml
setup-dev.sh
