.git/
.idea/
.run/

node_modules/
vendor/

bootstrap/cache/*
storage/debugbar/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/
storage/logs/*
tests/

.dockerignore
.editorconfig
*.env
.gitignore
.gitattributes
*.yaml

phpunit.xml
setup-dev.sh
