services:
  fin-tracker:
    image: barthjs/fin-tracker:latest
    container_name: fin-tracker
    restart: unless-stopped
    depends_on:
      - database
    ports:
      - 80:80
    volumes:
      - ./data:/app/storage/app
    env_file: .env

  database:
    image: postgres:18-alpine
    container_name: fin-tracker-db
    restart: unless-stopped
    volumes:
      - ./db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
