services:
  fin-tracker:
    image: barthjs/fin-tracker:latest
    container_name: fin-tracker
    restart: unless-stopped
    depends_on:
      - database
    ports:
      - 80:80
    volumes:
      - ./data:/app/storage/app
    env_file: .env

  database:
    image: postgres:18-alpine
    container_name: fin-tracker-db
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $DB_DATABASE -U $DB_USERNAME" ]
      interval: 30s
      timeout: 5s
      start_period: 3s
      retries: 3
    volumes:
      - ./db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
