includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: max

    ignoreErrors:
        - '#Cannot access property \$[a-zA-Z0-9\\_]+ on App\\Models\\User\|null#'
