@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../fonts.css';

@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

@source '../../../../app/Filament';
@source '../../../../resources/views';

.fi-sidebar-header {
    margin-top: 1rem;
}
